.subtitle {
  margin-top: 3%;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}

.buttons, .form {
  text-align: center;
}

.form {
  margin-bottom: 3%;
}

.cancel {
  margin-right: 3%;
}
